
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body style="background-color:#FF0000;">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: #4a3b78;">
      <a class="navbar-brand" href="{{url_for('index')}}">Inicio</a>
      <a class="navbar-brand" href="{{url_for('annotator')}}">Etiquetador</a>
      <a class="navbar-brand" href="{{url_for('upfiles')}}">Subir imágenes</a>
      <a class="navbar-brand" href="#">Clasificador</a>


      </nav>
<div class="container">


    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        {{image_names}}
        <hr>
        {% for image_name in image_names %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">
        </div>
        {% endfor %}
    </div>
</div>
  <nav class="navbar fixed-bottom bg-dark navbar-dark">
 <font color="white" size=1>Autora: Marta Monje Blanco <br/>Tutores: Álvar Arnaiz González y José Fancisco Díez Pastor<br/>Universidad de Burgos</font>
    <a href="https://github.com/mmb0093/TFG_Fitolitos" ><img src="https://image.flaticon.com/icons/svg/1051/1051275.svg" alt=" " title="Ir al repositorio en Github" width="48" height="48"/></a>
</nav>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>



</body>
</html>